body{
	>header{
		padding: 25px 0;
			> .row{
				@include make-row();
				>.logo-container{
                    padding-left: 0 !important;
					@include make-xs-column(12);
					@include make-sm-column(5);
					@include make-md-column(3);
				
					>.container-logo{
						width: 80%;
					}
				}
				
				>.seach-container{
					padding: 15px 0 0 0;
					@include make-sm-column(6);
					@include make-sm-column-offset(1);
					@include make-md-column(4);
					@include make-md-column-offset(5);
				}
			}
		input{
			height: 45px;
			font: 13px $font_main;
			color: #cccccc;
			margin-top: 7px;
			border: 1px solid #dddddd;
		}	
	}
}