#produtos-itens{
	@include make-row(12);
	> .produtos_item{
	@include make-xs-column(12);
	@include make-sm-column(4);
	@include make-md-column(3);
	background-color: $site_color;
	background-clip: content-box;
	margin-bottom: 30px;
	> img{
		box-shadow: 0 18px 18px rgba(0, 0, 0, 0.2);
	}
	> h2{
		color: #fff;
		font: bold 20px $font_main;
		text-align: center;
		margin: 20px 0 10px;
	}
	> p{
		color: #ddd;
		margin-bottom: 10;
		font: 300 13px $font_main;
	}
	> a{
		margin-bottom: 15px;
		background: #fff;
		color: $site_color;
		font: bold 13px $font_main;
		text-align: center;
		display: block;
		width: 78px;
		float: right;
		margin-right: 15px;
		text-decoration: none;
		padding: 5px 0;
		border: 2px solid #fff;
		transition: all 0.2s linear;
		&:hover{
			background: $hover-color;
			color: #fff;
		}

	}

}
}